<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title slot="start">
      <img src="assets/images/LOGO.png" style="width: 80px; height: 80px">
    </ion-title>
    <ion-title class="workoutTitle">Trainingspläne</ion-title>
    <button slot="end" (click)="back()">Zurück</button>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Trainingspläne</ion-title>
    </ion-toolbar>
  </ion-header>


  <section class="hero">
    <h1>Deine Trainingspläne</h1>

    <div style="color: black; font-size: larger; text-align: left" *ngIf="plans">
      <div *ngFor="let plan of plans">
        {{ plan.name }}
        <ul style="margin-left: 40px">
          <li>Liegestütze:       3          |         8</li>
          <li>Bankdrücken:       3          |         12</li>
          <li>Bizepscurls:       3          |         12</li>
          <li>Trizepsdrücken:    2          |         10</li>
          <li>Trizepsheben:       2          |         10</li>
          <li>Beinpresse:       4          |         12</li>
          <li>Wadenheben:       3          |         12</li>
          <li>Latziehen:       3          |         10</li>

        </ul>
      </div>
    </div>
  </section>

  <footer>
    <div class="container">
      <p>&copy; 2024 FitFlow. Alle Rechte vorbehalten.</p>
    </div>
  </footer>
</ion-content>


