<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title slot="start">
      <img src="assets/images/LOGO.png" style="width: 80px; height: 80px">
    </ion-title>
    <ion-title class="workoutTitle">Trainingspläne</ion-title>
    <button slot="end" (click)="back()">Zurück</button>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Trainingspläne</ion-title>
    </ion-toolbar>
  </ion-header>


  <section class="hero">
    <h1>Deine Workoutpläne</h1>
  </section>

  <footer>
    <div class="container">
      <p>&copy; 2024 FitFlow. Alle Rechte vorbehalten.</p>
    </div>
  </footer>
</ion-content>


